:root {
  --color-negro: black;
}

* {
  margin: 0px;
  padding: 0px;
}

/* --------------------------------------------------------------------------------------------------- Reglas Generales */

h2 {
  text-align: center;
  padding: 0px 0.2rem;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

li {
  text-align: center;
}

/* --------------------------------------------------------------------------------------------------- Reglas de Contenedores */

/* ------------------------------------------------------------------------ Contenedores Principales */

body {
  font-weight: 600;
  background-color: white;
  font-family: sans-serif, Arial;
}

.contenedor-principal {
  min-height: 100vh;
  background-color: lightsteelblue;
}

/* ------------------------------------------------------------------------ Header */

header {
  background-color: lightgreen;
  border-color: black;
  border-style: none none solid none;
}

header > h1 {
  text-shadow: 2px 0px 1px white;
  text-align: center;
  padding: 0.2rem 0px;
}

header > h1.centro {
  padding: 0.2rem 14rem;
}

/* ------------------------------------------------------------------------ Nav */

nav > ul {
  background-color: lightgray;
  list-style: none;
  /* height: 10rem; */
}

nav > ul > li {
  color: black;
  padding: 0.2rem 0px;
}

nav > ul > li:hover {
  color: white;
  background-color: black;
}

/* ------------------------------------------------------------------------ Aside */

aside {
  background-color: lightcoral;
  border-color: black;
  border-style: solid solid solid none;
}

aside.colapsado {
  border-style: none;
}

aside > h2 {
  border-color: black;
  border-style: none none solid none;
}

aside > ul {
  background-color: lightcoral;
  list-style: none;
  /* height: 10rem; */
}

aside > ul > li {
  color: black;
  padding: 0.2rem 0px;
}

aside > ul > li:hover {
  color: lightcoral;
  background-color: black;
}

/* ------------------------------------------------------------------------ Main */

main {
  background-color: #212121;
  border-color: black;
  border-style: solid none solid none;
}

/* ------------------------------------------------------------------------ Contenedor Todo */

#contenedor-todo {
  background-color: darkslateblue;
  width: 900px;
  min-height: 300px;
  padding: 20px;
  border-width: 5px;
  border-style: none solid none solid;
  border-color: black;
  /* border-radius: 8px; */
}

#contenedor-todo > h1 {
  text-shadow: 2px 0px 1px white;
  text-align: center;
}

#contenedor-todo > form.form-tarea {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

#contenedor-todo > #ingresar-tarea,
#contenedor-todo > form > #ingresar-tarea {
  font-size: 16px;
  width: 90%;
  height: 30px;
  margin: 20px;
  padding: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#contenedor-todo > #ingresar-tarea:focus,
#contenedor-todo > form > #ingresar-tarea:focus {
  outline: none;
}

/* ------------------------------------ Boton Agregar */
input#boton-agregar,
#contenedor-todo > button.agregar,
#contenedor-todo > form > button.agregar {
  font-size: 16px;
  width: 40%;
  height: 44px;
  font-weight: 600;
  margin: 20px;
  padding: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* border-radius: 8px; */
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}

input#boton-agregar:hover,
#contenedor-todo > button.agregar:hover,
#contenedor-todo > form > button.agregar:hover {
  color: white;
  background-color: black;
}

#contenedor-todo > #lista-tareas {
  width: 100%;
}

/* ------------------------------------ Tarea */
div#tarea,
#contenedor-todo > #lista-tareas > .tarea {
  font-weight: 400;
  color: black;
  font-size: 24px;
  background-color: cornflowerblue;
  width: 90%;
  min-height: 44px;
  /* min-width: 70%; */
  margin: 10px;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

#contenedor-todo > #lista-tareas > .tarea.completada {
  background-color: black;
}

div#tarea > p,
#contenedor-todo > #lista-tareas > .tarea > p {
  /* height: auto; */
  word-break: break-all;
  width: 80%;
}

#contenedor-todo > #lista-tareas > .tarea > p.completada {
  color: white;
  text-decoration: line-through;
  text-decoration-thickness: 5px;
  text-decoration-color: green;
}

/* ------------------------------------ Boton Borrar */

input#borrar,
button.borrar {
  width: 44px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* border-radius: 8px; */
  background-color: red;
  cursor: pointer;
  text-decoration: none;
}

input#borrar:hover,
button.borrar:hover {
  color: red;
  background-color: black;
}

/* ------------------------------------ Boton Completar */

button.completar {
  width: 44px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* border-radius: 8px; */
  background-color: green;
  cursor: pointer;
  /* align-self: flex-end; */
}

button.completar:hover {
  color: green;
  background-color: black;
}

/* ------------------------------------ Boton Editar */

input#editar,
button.editar {
  width: 44px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* border-radius: 8px; */
  background-color: yellow;
  cursor: pointer;
  /* align-self: flex-end; */
}

input#editar:hover,
button.editar:hover {
  color: yellow;
  background-color: black;
}

/* ------------------------------------------------------------------------ Footer */

footer {
  background-color: lightseagreen;
}

footer > h4 {
  text-align: center;
  text-shadow: 2px 0px 1px white;
  border-color: black;
  border-style: none solid;
  padding: 0px 3px;
}

/* --------------------------------------------------------------------------------------------------- Reglas de Flexbox */

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nada-1 {
  flex: 1 2;
}

.nada-2 {
  flex: 2.3 4;
}

.nada-1.colapsado {
  overflow: hidden;
  flex: 0;
}

.nada-2.colapsado {
  overflow: hidden;
  flex: 0;
}

/* ------------------------------------------------------------------------ Contenedores Principales */

.contenedor-principal {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------------ Header */

header {
  display: flex;
  justify-content: space-around;
}

header > h1.costados {
  flex: 1 2;
}

header > h1.costados > a {
  display: inline;
}

/* ------------------------------------------------------------------------ Nav */

nav > ul {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-around;                        Propiedad para mover los elementos en el Eje Principal */
  /* align-items: flex-start;                              Propiedad para mover los elementos en el Eje Cruzado */
  /* align-content: space-around; */
  /* gap: .3rem; */
  /* row-gap: .3rem;
  column-gap: .3rem; */
  /* flex-wrap: wrap; */
  /* flex-direction: row-reverse; */
}

nav > ul > li {
  flex: 1;
  /* flex: 1 0; growth shrink basis */
  /* flex-basis: 3.5rem; */
  /* flex-grow: 1; */
}

/* ------------------------------------------------------------------------ Contenedor Central */

.contenedor-central {
  flex: 1;
  display: flex;
}

/* ------------------------------------------------------------------------ Aside */

.contenedor-central > aside {
  display: flex;
  flex-direction: column;
  /* overflow: hidden;
  flex: 0; */
  /* flex-basis: 8rem; */
}

.contenedor-central > aside.colapsado {
  overflow: hidden;
  flex: 0;
  /* transition: flex 10000ms ease; */
}

.contenedor-central > aside > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

/* ------------------------------------------------------------------------ Main */

.contenedor-central > main {
  display: flex;
  /* flex-flow: column; */
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.contenedor-central > main > #contenedor-todo {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* flex: 1; */
}

.contenedor-central > main > #contenedor-todo > #lista-tareas {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}

div#tarea,
.contenedor-central > main > #contenedor-todo > #lista-tareas > .tarea {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
}
/* 
div#tarea {
  flex: 1;
} */

div#tarea > p,
.contenedor-central > main > #contenedor-todo > #lista-tareas > .tarea > p {
  flex-grow: 1;
}

/* ------------------------------------------------------------------------ Footer */

footer {
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------------------------------------------------------- Pruebas */

#contenedor-generico {
  background-color: darkslateblue;
  width: 900px;
  min-height: 300px;
  padding: 20px;
  border-width: 5px;
  border-style: none solid none solid;
  border-color: black;
  /* border-radius: 8px; */
}

#contenedor-generico {
  text-align: center;
  display: grid;
  gap: 3px;
  /* grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  /* grid-template: 0.5fr repeat(2, 1fr) / repeat(2, 1fr); */
  grid-template: 0.5fr 2fr / 1fr;
  grid-template-areas:
    "t t"
    "f f";
}

#contenedor-generico > h1 {
  font-size: 3rem;
  text-shadow: 2px 0px 1px white;
  text-align: center;
  grid-area: t;
}

#contenedor-generico input.form-usuario {
  font-size: 16px;
  width: 30%;
  height: 30px;
  margin: 20px;
  padding: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#contenedor-generico input:focus {
  outline: none;
}

#prueba-label,
#prueba-input,
#prueba-titulo {
  /* padding: 100px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prueba-titulo {
  grid-area: t;
}

#prueba-label {
  grid-area: n;
}

#prueba-input {
  grid-area: i;
}

#contenedor-form {
  display: flex;
  flex-flow: column;
  flex: 1;
  grid-area: f;
}

#contenedor-form > form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

input#submit {
  width: 88px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* border-radius: 8px; */
  background-color: lightskyblue;
  cursor: pointer;
  /* align-self: flex-end; */
}
