<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiceRoll - Todo List</title>
    <!-- Estilos y Favicon  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles-og.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='imagenes/favicon-dados-b.png') }}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/scripts.js') }}"
    ></script>
  </body>
</html>